* {
    font-family: Calibri;
    /*color:white;*/
}

#menu-bu {
    background: rgba(0, 0, 128, 0.6);
    align-items: center;
    grid-row: span 3;
    height: 100%;
    border: 3px solid #f1f1f1;
}

#menu-do {
    align-items: center;
    grid-row: span 1;
}

/*this is all for the game board*/
.grid-container {
    display: grid;
    grid-template-columns: 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 15.5% 10%;
    grid-template-rows: 9.7% 9.7% 9.7% 9.7% 9.7% 9.7% 9.7% 9.7% 9.7% 9.7%;
    /*	background-color: #353D54;*/
    min-width: 500px;
    max-width: 1500px;
    height: 97%;
    grid-gap: 3px;
    padding: 15px;
    margin: 3px;
    padding-right: .5%;
    padding-bottom: .5%;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: 10px;
    align-content: end;
}

.tile {
    border: 1px solid white;
    position: relative;
    background-color: #000080;
}

.tile1 {
    border: 0px;
    padding: 4px 4px;
    position: relative;
    background-color: #000080;
}

h1 {
    display: inline-block;
    clear: both;
}

h2 {
    text-align: left;
    float: right;
}

.form-popup {
    font-family: calibri;
    color: white;
    padding-left: 15px;
}

#rulesPopUp {
    top: 30%;
    left: 15%;
}

.form-popup p {
    font-size: 20px;
}

.form-popup ul {
    padding: 20px;
}

h1,
h2 {
    padding: 10px;
    font-size: 2vh;
    font-family: calibri;
    color: white;
    font: strong;
}

p {
    font-size: 50px;
    font-family: calibri;
}

#sav,
#inv,
#wal {
    text-align: right;
}

/*right side of board*/
#dice {
    background: #000080;
    grid-row: span 3;
    position: center;
    border: 3px solid #f1f1f1;
}

#Balance {
    background-color: #000080;
    padding-left: 5px;
    padding-right: 10px;
    border: 3px solid #f1f1f1;
    height: 65%;
    border-radius: 8px;
}

button {
    width: 90%;
    height: 29%;
    background-color: #07BAFB;
    color: #FFD401;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2.5vh;
    border-radius: 8px;
    margin: 7px;
    font-weight: bold;
}

.btn:hover {
    opacity: 1;
}

/*pop-up forms-- for the menu*/
.form-popup {
    display: none;
    position: fixed;
    top: 45%;
    left: 25%;
    margin-right: 20%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: #000080;
}

.form-container {
    max-width: 300px;
    padding: 10px;
}

.form-container input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #454545;
}

#question,
.question-popup {
    width: 500px;
    height: 500px;
    background-color: #000080;
    font: white;
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

[id="0"] {
    background-color: #00FF21;
}

[id="1"],
[id="9"],
[id="13"],
[id="17"],
[id="21"],
[id="25"],
[id="29"],
[id="33"],
[id="37"],
[id="41"],
[id="45"] {
    background-color: #FF6A00;
}

[id="2"],
[id="6"],
[id="14"],
[id="18"],
[id="22"],
[id="26"],
[id="30"],
[id="34"],
[id="38"],
[id="42"],
[id="46"] {
    background-color: #FFD401;
}

[id="3"],
[id="7"],
[id="11"],
[id="15"],
[id="23"],
[id="27"],
[id="31"],
[id="35"],
[id="39"],
[id="43"] {
    background-color: #0000FF;
}

[id="4"],
[id="8"],
[id="10"],
[id="12"],
[id="16"],
[id="20"],
[id="24"],
[id="32"],
[id="40"] {
    background-color: #FF0000;
}

[id="5"],
[id="19"],
[id="8"],
[id="12"],
[id="40"],
[id="24"],
[id="36"],
[id="28"],
[id="44"] {
    background-color: #680099;
}

/*for bg image fade out to grayscale*/
#cf {
    position: relative;
    margin: 0 auto;
}

#cf img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity: 0;
}


.button:hover {
    background: #06D85F;
}