<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">

    </style>
    <title>TechSuppork's Money Savvy Finance Game</title>
</head>





    <body>
            <form class="box" target="_self" action="/login" method="POST" target="_blank">
                <h1>Welcome to Techsuppork's Game</h1>
                <input type="text" id="exampleInputEmail1" name="email" placeholder="User Name">
                <input type="password" name="password" id="exampleInputEmail1" placeholder="Password">
                <button type="submit" value="Login">Login</button>
                <p class="text-center"><button class="btn btn-primary, alt-box"><a style="text-decoration: none; color: white;" href="/register">Register</a></button></p>
            </form>
        </body>
</body>

</html>